<html>
    <div>
        <h1>
        Welcome to the Chores Board <br>
        <!-- Home -->
        <img src="/static/images/home.png" width="100" height="80" alt="Home">
            <a href="/">Home</a> <br>
        <!-- New Chore -->
        <img src="/static/images/new_chore.png" width="100" height="80" alt="New Chore">
            <a href="/new_chore">New Chore</a> <br>
        <!-- Chore Board -->
        <img src="/static/images/chore_board.png" width="100" height="80" alt="Chore Board">
            <a href="/chore_board">Chore Board</a> <br>
        <!-- Delete Chore -->
        <img src="/static/images/delete_chore.png" width="100" height="80" alt="Delete Chore">
            <a href="/delete_chore">Delete Chore</a> <br>
        </h1>
    </div>
    <head>
        <title>
            Chores Board
        </title>
        {% block new_chores %}{% endblock %}
        {% block chore_board %}{% endblock %}
        {% block delete_chores %}{% endblock %}
        {% block home %}{% endblock %}
        {% block reset_db %}{% endblock %}
    </head>
</html>
